/cron/job-result-viz.json
/cron/job-result.json
/cron/genomics.fasta
/cron/output.txt
/cron/pintron-all-isoforms.gtf
/cron/pintron-log.txt
/cron/pintron-pipeline-log.txt
/cron/genomic.txt
/cron/ests.txt
/cron/AML-annotated.zip
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# RAILS .gitignore
# https://github.com/github/gitignore/blob/master/Rails.gitignore

# YARD artifacts
.yardoc
_yardoc
doc/

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
.dropbox

*.db

downloads/*

*.log

TODO.md

db/schema.rb
