<head>
	<title>PinW | 404</title>
	
	<%# JS & CSS #%>
	<%= erb :'includes/header' %>
</head>
<body>

<%# HEADER #%>
<%= erb :'includes/navbar' %>


<%# PAGE CODE HERE #%>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>Those aren't the droids you're looking for...</p>
		</div>
	</div>
</div>


<%# FOOTER #%>
<%= erb "includes/footer".to_sym %>
</body>
