<head>
	<title>PinW | Home</title>
	
	<%# JS & CSS #%>
	<%= erb :'includes/header' %>
</head>
<body>

<%# HEADER #%>
<%= erb :'includes/navbar' %>


<%# PAGE CODE HERE #%>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			Sono le ore <%= Time.now %>
		</div>
	</div>
</div>


<%# FOOTER #%>
<%= erb :'includes/footer' %>
</body>
