<head>
  <title>PinW | A Pintronic Pintronator</title>

  <%# JS & CSS #%>
  <%= erb :'includes/header'%>
</head>
<body>




  <%# PAGE CODE HERE #%>

  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="img/owpq53W.jpg" alt="" class="img-responsive">
        <div class="carousel-caption">
        <p class="enorme">Pintron, a pintronic pintronator!</p>
        </div>
      </div>
    </div>
  </div>


</body>
