<head>
  <title>PinW | A Pintronic Pintronator</title>

  <%# JS & CSS #%>
  <%= erb :'includes/header'%>
  <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>




  <%# PAGE CODE HERE #%>

  <%= erb :'includes/navbar'%>

  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="img/owpq53W.jpg" alt="" class="img-responsive">
        <div class="carousel-caption">
        <p class="enorme">Pintron, a pintronic pintronator!</p>
        </div>
      </div>
    </div>
  </div>


</body>

