<head>
  <title>PIntron | Results</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>
  <link href="/css/d3-structure_gene.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="/js/result.js"></script>
  <script type="text/javascript" src="/js/d3.v3.min.js"></script>
  <script type="text/javascript" src="/js/d3-transform.js"></script>
  <script type="text/javascript" src="/js/d3-structure_gene.js"></script>

</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><i class="fa fa-flag-checkered"></i> Result <small></small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <a href="/results" class="btn btn-primary pull-right" role="button">Back to results</a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <p id="home_gene"></p>
        <p id="info_gene"></p>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Select Gene <span class="caret"></span>
          </button>
          <ul id="select_gene" class="dropdown-menu" role="menu"></ul>
        </div>
      </div>
      <div class="col-md-4">

        <button id="zoom_button_on" type="button" class="btn btn-default">
          Zoom On
        </button> 
        <button id="zoom_button_off" type="button" class="btn btn-default">
          Zoom Off
        </button> 
        <button id="reset_button" type="button" class="btn btn-default">
          Reset
        </button> 

      </div>

    </div>

    <div class="row">
      <div class="col-md-9" id='isoform-block'>

        <!-- INIZIO BLOCCO ISOFORM -->
        <div id="isoform-container"></div>
        <!-- FINE BLOCCO ISOFORM -->

      </div>
      <div class="col-md-3">
        <!-- INIZIO BLOCCO LEGENDA -->
        <div id="legend-container"></div>
        <!-- FINE BLOCCO LEGENDA -->
      </div>
    </div>

    <div class="row">

      
      <div class="col-md-12" id='viz-block'>

        
        <br/>
        <!-- INIZIO BLOCCO EXPANDE -->
        <div id="expande-container"></div>
        <!-- FINE BLOCCO EXPANDE -->

        <!-- Modal window -->
        <div id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div id="modal_t" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>
              <div id="modal_body" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Coming Soon!">
                  Download
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal">
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- FINE MODALE -->

      </div>    
    </div>

    <!-- modello del pattern degli esoni alternativo -->
    <div id='pattern-exon'></div>
    <!-- bha... -->
  </div>

  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>
