<head>
  <title>PIntron | Results</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>

</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><i class="fa fa-flag-checkered"></i> Result <small></small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/results" class="btn btn-primary pull-right" role="button">Back to results</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>

  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>
