.enorme {
    font-size: 66px !important;
}

form.btn-group + form.btn-group {
    margin-left: -5px;
}

form.btn-group + div.btn-group {
    margin-left: -5px;
}

div.btn-group + form.btn-group {
    margin-left: -5px;
}

body, body.modal {
    margin-right: 0 !important;
}

body.modal {
    overflow-y: hidden;
}

.nascosto {
    display: none;
}

.flag {
  margin: 10px 0 0 0 !important;
}
